/composer.lock
BC
resources/views/shared
.idea
/.phpintel
vendor
/node_modules
Homestead.yaml
Homestead.json
.env
*.bak
*.log
*.swp
Thumbs.db
_ide_helper.php
composer.lock
composer.phar
.phpintel
.idea
start_serve.bat
resources/views/shared
public/PDF/*